test/schema/firstdata_e4/v27.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema
   elementFormDefault="qualified"
   xmlns:s="http://www.w3.org/2001/XMLSchema"
   xmlns:s0="http://secure2.e-xact.com/vplug-in/transaction/rpc-enc/encodedTypes"
   xmlns="http://secure2.e-xact.com/vplug-in/transaction/rpc-enc/encodedTypes"
   targetNamespace="http://secure2.e-xact.com/vplug-in/transaction/rpc-enc/encodedTypes">
  <s:complexType name="SoftDescriptor_Type">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="1" name="DBAName" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="MID" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="MCC" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="MerchantContactInfo" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="MVV_MAID" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="AMEXMerchantPhone" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="AMEXMerchantEmail" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="PFacSubmerchantId" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="PFacName" type="s:string"/>
    </s:sequence>
  </s:complexType>
  <s:complexType name="Level3_ShipToAddress_Type">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="CustomerNumber" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
    </s:sequence>
  </s:complexType>
  <s:complexType name="Level3_LineItem_Type">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="1" name="CommodityCode" type="s:string"/>
      <s:element minOccurs="1" maxOccurs="1" name="Description" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="DiscountAmount" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="DiscountIndicator" type="s:boolean"/>
      <s:element minOccurs="0" maxOccurs="1" name="GrossNetIndicator" type="s:boolean"/>
      <s:element minOccurs="1" maxOccurs="1" name="LineItemTotal" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="ProductCode" type="s:string"/>
      <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="TaxAmount" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="TaxRate" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="TaxType" type="s:string"/>
      <s:element minOccurs="1" maxOccurs="1" name="UnitCost" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="UnitOfMeasure" type="s:string"/>
    </s:sequence>
  </s:complexType>
  <s:complexType name="Level3_Type">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="1" name="TaxAmount" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="TaxRate" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="AltTaxAmount" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="AltTaxId" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="DutyAmount" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="FreightAmount" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="DiscountAmount" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="ShipFromZip" type="s:string"/>
      <s:element minOccurs="1" maxOccurs="1" name="ShipToAddress" type="Level3_ShipToAddress_Type"/>
      <s:element minOccurs="1" maxOccurs="98" name="LineItem" type="Level3_LineItem_Type"/>
    </s:sequence>
  </s:complexType>
  <s:complexType name="PaypalTransactionDetails">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="1" name="PayerID" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="GrossAmountCurrencyID" type="s:string"/>
      <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean"/>
      <s:element minOccurs="0" maxOccurs="1" name="Authorization" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="CorrelationID" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Timestamp" type="s:string"/>
    </s:sequence>
  </s:complexType>
  <s:complexType name="Address_Type">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="PhoneType" type="s:string"/>
    </s:sequence>
  </s:complexType>
  <s:complexType name="DynamicCurrency">
    <s:sequence>
      <s:element minOccurs="1" maxOccurs="1" name="OptedIn" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="RateResponseSignature" type="s:string"/>
    </s:sequence>
  </s:complexType>
  <s:complexType name="DynamicPricing">
    <s:sequence>
      <s:element minOccurs="1" maxOccurs="1" name="OptedIn" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="RateResponseSignature" type="s:string"/>
    </s:sequence>
  </s:complexType>
  <s:complexType name="ForeignCurrencyDetails">
    <s:sequence>
      <s:element minOccurs="1" maxOccurs="1" name="DCCIndicator" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="ForeignAmount" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="ForeignCurrencyCode" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="ExchangeRate" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="MarginRate" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="RateSource" type="s:string"/>
    </s:sequence>
  </s:complexType>
  <s:complexType name="FraudDetectResult">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="1" name="Score" type="s:integer"/>
      <s:element minOccurs="0" maxOccurs="1" name="Recommendation" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="5" name="Explanation" type="FraudDetectExplanation_Type"/>
    </s:sequence>
  </s:complexType>
  <s:complexType name="FraudDetectExplanation_Type">
    <s:sequence>
      <s:element minOccurs="1" maxOccurs="1" name="type" type="s:integer"/>
      <s:element minOccurs="1" maxOccurs="1" name="description" type="s:string"/>
    </s:sequence>
  </s:complexType>
  <s:complexType name="VisaCheckout">
    <s:sequence>
      <s:element minOccurs="1" maxOccurs="1" name="CallID" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="PromoCode" type="s:string"/>
    </s:sequence>
  </s:complexType>
  <s:complexType name="MasterPass">
    <s:sequence>
      <s:element minOccurs="1" maxOccurs="1" name="TransactionID" type="s:string"/>
      <s:element minOccurs="1" maxOccurs="1" name="WalletID" type="s:string"/>
      <s:element minOccurs="1" maxOccurs="1" name="Indicator" type="s:string"/>
    </s:sequence>
  </s:complexType>
  <s:complexType name="Transaction">
    <s:all>
      <s:element minOccurs="1" maxOccurs="1" name="ExactID" type="s:string"/>
      <s:element minOccurs="1" maxOccurs="1" name="Password" type="s:string"/>
      <s:element minOccurs="1" maxOccurs="1" name="Transaction_Type" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="DollarAmount" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="SurchargeAmount" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Card_Number" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Transaction_Tag" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="SplitTenderID" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Track1" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Track2" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="PAN" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Authorization_Num" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Expiry_Date" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="CardHoldersName" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="CVDCode" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="CVD_Presence_Ind" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Tax1Amount" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Tax1Number" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Tax2Amount" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Tax2Number" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Ecommerce_Flag" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="XID" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="CAVV" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Reference_No" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Customer_Ref" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Reference_3" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Language" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Client_IP" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Client_Email" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="User_Name" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Currency" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="PartialRedemption" type="s:boolean"/>
      <s:element minOccurs="0" maxOccurs="1" name="Level3" type="Level3_Type"/>
      <s:element minOccurs="0" maxOccurs="1" name="TransarmorToken" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="EAN" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="VirtualCard" type="s:boolean"/>
      <s:element minOccurs="0" maxOccurs="1" name="CardCost" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="FraudSuspected" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="PaypalResponse" type="PaypalTransactionDetails"/>
      <s:element minOccurs="0" maxOccurs="1" name="SoftDescriptor" type="SoftDescriptor_Type"/>
      <s:element minOccurs="0" maxOccurs="1" name="Address" type="Address_Type"/>
      <s:element minOccurs="0" maxOccurs="1" name="TPPID" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="SplitShipmentNumber" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="AmexFraud" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="DynamicCurrency" type="DynamicCurrency"/>
      <s:element minOccurs="0" maxOccurs="1" name="DynamicPricing" type="DynamicPricing"/>
      <s:element minOccurs="0" maxOccurs="1" name="FeeAmount" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="VisaCheckout" type="VisaCheckout"/>
      <s:element minOccurs="0" maxOccurs="1" name="PostDate" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="OtherAmount" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="GiftDepositAvailable" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="SpecialPayment" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="WalletProviderID" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="MasterPass" type="MasterPass"/>
      <s:element minOccurs="0" maxOccurs="1" name="FraudDetectInAuthTransId" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="SCV" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="StoredCredentials" type="StoredCredentialsType"/>
      <s:element minOccurs="0" maxOccurs="1" name="Extra" type="Extra_Type"/>
    </s:all>
  </s:complexType>
  <s:complexType name="StoredCredentialsType">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="1" name="AuthorizationTypeOverride" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Initiation" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Indicator" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="Schedule" type="s:string"/>
      <s:element minOccurs="0" maxOccurs="1" name="TransactionId" type="s:string"/>
    </s:sequence>
  </s:complexType>
  <s:complexType name="Extra_Type">
    <s:sequence>
      <s:element minOccurs="1" maxOccurs="1" name="Field" type="s:string"/>
      <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:string"/>
    </s:sequence>
  </s:complexType>

  <s:element name="Transaction" type="s0:Transaction"/>

</s:schema>
